---
layout: default
---
<section class="container">
  <section class="filmography-home">
    <div class="navigation-panel">
    <a class="navigation-link{% if page.url == "filmography/" %} active{% endif %}" href="{{site.baseurl}}/filmography">Filmography</a>
    <p class="navigation-quote">&ldquo;The director of a film is the ringmaster <br>of a circus inventing itself&rdquo; <br><small>- Francis Ford Coppola</small></p>
    </div>
  </section>
  <section class="ethnography-home">
    <div class="navigation-panel">
    <a class="navigation-link{% if page.url == "ethnography/" %} active{% endif %}" href="{{site.baseurl}}/ethnography">Ethnography</a>
    <p class="navigation-quote">&ldquo;It's turtles all the way down&rdquo; <br><small>- Clifford Geertz, <i>The Interpretation of Cultures</i></small></p>
    </div>
  </section>
</section>