---
layout: default
---
  <section class="filmography-home">
    <a class="navigation-anchor{% if page.url == "filmography/" %}-minimized{% endif %}" href="{{site.baseurl}}/filmography">
      <div class="navigation-panel">
        <div class="navigation-img">
          <img src="assets/img/ringmaster.png" width="369" height="456" alt="Ringmaster">
        </div>
        <h1 class="h3">Filmography</h1>
        <p>&ldquo;The director of a film is the ringmaster <br>of a circus inventing itself&rdquo;</p>
        <div class="author"><small>- Francis Ford Coppola</small></div>
      </div>
    </a>
  </section>
  <section class="ethnography-home">
    <a class="navigation-anchor{% if page.url == "ethnography/" %}-minimized{% endif %}" href="{{site.baseurl}}/ethnography">
      <div class="navigation-panel">
        <div class="navigation-img">
          <img src="assets/img/turtles.png" width="383" height="392" alt="Turtles">
        </div>
        <h1 class="h3">Ethnography</h1>
        <p>&ldquo;It's turtles all the way down&rdquo;</p>
        <div class="author"><small>- Clifford Geertz<br><i>The Interpretation of Cultures</i></small></div>
      </div>
    </a>
  </section>