//@include edit();
.container {
  @include uncenter();
  height:100%; 
}
.masthead {
  @include span(1/1);
  .navigation {
    @include span(1/1);
    margin:1em 0;
    ul {
      margin: 0 auto;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      li {
        float:left;
        margin-right:0.5em;
      }
    }
  }
  @include max-screen(nth($res-collection, 3)*1px) {
    position:static;
    z-index:initial;
    .navigation {
      @include span(1/1);
      margin:1em 0;
      ul {
        margin: 0 auto;
        width:100%;
        text-align:center;
        li {
          float:none;
          margin-right:0;
        }
      }
    }
  }
}
.navigation-img {
  margin-top:2.75em;
  @include max-screen(nth($res-collection, 3)*1px) {
    margin-top:1em;
  }
}
.navigation-anchor {
  @include max-screen(nth($res-collection, 3)*1px) {
    display:inline;
  }
  &-img {
    @include span(1/1);
  }
}
.filmography, .ethnography {
  &-home {
    @include span(1/2);
    @include max-screen(nth($res-collection, 3)*1px) {
      height:initial;
      @include span(1/1);
    }
  }
  &-minimized {
    position:fixed;
    z-index:900;
    height:100%;
    width:5em;
    @include max-screen(nth($res-collection, 3)*1px) {
      display:none;
    }
  }
}
.filmography {
  &-minimized {
    top:0;
    left:0;
  }
}
.ethnography {
  &-minimized {
    top:0;
    right:0;
  }
}
.page, .work {
  padding:10em 7em 0 7em;
  @include max-screen(nth($res-collection, 3)*1px) {
    padding:10em 0 10em 0;
  }
}
footer {
  position:fixed;
  z-index:1000;
  bottom:0;
  right:0;
}