//@include edit();
.container {
  @include uncenter();
  height:100%;
}
.masthead {
  position:fixed;
  z-index:1000;
  @include span(1/1);
  .navigation {
    @include span(1/1);
    margin:1em 0;
    ul {
      margin: 0 auto;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      li {
        float:left;
        margin-right:0.5em;
      }
    }
  }
  @include max-screen(nth($res-collection, 3)*1px) {
    position:static;
    z-index:initial;
    .navigation {
      @include span(1/1);
      margin:1em 0;
      ul {
        margin: 0 auto;
        width:100%;
        text-align:center;
        li {
          float:none;
          margin-right:0;
        }
      }
    }
  }
}
.navigation-panel {
  height:100%;
  @include max-screen(nth($res-collection, 3)*1px) {
    height:initial;
  }
}
.navigation-img {
  @include max-screen(nth($res-collection, 3)*1px) {
    margin-top:1em;
  }
}
.navigation-anchor {
  display:block;
  @extend %vertical-align;
  @include max-screen(nth($res-collection, 3)*1px) {
    display:inline;
  }
  &-img {
    @include span(1/1);
  }
}
.filmography, .ethnography {
  &-home {
    height:100%;
    @include span(1/2);
    @include max-screen(nth($res-collection, 3)*1px) {
      height:initial;
      @include span(1/1);
    }
  }
  &-minimized {
    height:100%;
    @include span(1/12);
  }
}
.page {
  @include span(10/12);
}
.work {
  @include span(11/12);
}
.page, .work {
  margin-top:7em;
}
footer {
  position:fixed;
  z-index:1000;
  bottom:0;
  right:0;
}