body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing:antialiased;
  color:$base-font-color;
  font-family:$base-font-family;
  font-size:$base-font-size;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family:$heading-font-family;
  margin:$medium-spacing 0;
  font-weight:100;
}
h1, h2, h3, h4, h5, h6 {
  @extend .h1;
}
.h2, h2 {
  font-size:2em;
}
.h3, h3 {
  font-size:1.7em;
  margin:$small-spacing;
}
.h4, h4 {
  font-size:1em;
}
p {
  line-height:$base-line-height;
}
em, i, q {
  font-style:italic;
}
ul {
  @include nobullet;
}
ol {
  @include nobullet;
}
ul li {
  line-height:$base-line-height;
  ul li {
    margin-left:$medium-spacing;
  }
}
strong, b { 
  font-weight:800;
}
small {
  font-size:$font-small;
  line-height:1em;
}
%icons {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  // For safety - reset parent styles, that can break glyph codes
  font-variant: normal;
  text-transform: none;
  // fix buttons height, for twitter bootstrap
  line-height: 1em;
  -moz-osx-font-smoothing: grayscale;
}
.icon-doc-text:before {
  @extend %icons;
  content: '\e800';
}
.icon-linkedin:before {
  @extend %icons;
  content: '\e801';
}
.icon-mail:before {
  @extend %icons;
  content: '\e802';
}
a[href$=".pdf"]:before {
  @extend %icons;
  content: '\e800';
}
