.masthead {
  a {
    border-bottom:0;
  }
  @include max-screen(nth($res-collection, 3)*1px) {
    background-color:white;
    .logo { margin:0 10px 1em 10px; }
  } 
}
.masthead, .filmography-home, .ethnography-home { 
  text-align:center;
}
.navigation-panel {
  p {
    line-height:$medium-spacing;
  }
  .author {
    margin-bottom:2em;
  }
}
.ethnography {
  &-home {
    background-color:$light-grey;
  }
  &-minimized {
    background-color:$light-grey;
    .button { 
      position:relative;
      top:50%;
      @include transform(rotate(90deg));
    }
  }
}
.filmography {
  &-home {
    background-color:white;
  }
  &-minimized {
    background-color:$light-grey;
    .button { 
      position:relative;
      top:50%;
      @include transform(rotate(90deg));
    }
  }
}