.work-panel {
  @extend %vertical-align;
  height:150px;
}
.work-link {
  font-size:$font-large;
  color:$peach;
  text-decoration:none;
  border:5px solid;
  padding:3px 6px 6px 6px;
}
.work-quote {
  padding:2px 2px;
}
.ethnography {
  &-home {
    @include background-image('turtles.png', no-repeat, center, center);
    background-color:#eee;
    text-align:left;
    .work-panel {
      padding-left:3em;
    }
  }
  &-minimized {
    .button { 
      position:relative;
      top:50%;
      @include transform(rotate(90deg));
    }
    background-color:#eee;
  }
}
.filmography {
  &-home {
    @include background-image('ringmaster.png', no-repeat, center, center);
    background-color:white;
    text-align:right;
    .work-panel {
      padding-right:3em;
    }
  }
  &-minimized {
    background-color:white;
    .button { 
      position:relative;
      top:50%;
      @include transform(rotate(90deg));
    }
  }
}