---
title: 'Chlo&eacute; Frommer'
---
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ethnography &amp; Filmography <><><>  {% if page.url != '/index.html' %} {{page.title}}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">
    <link rel='shortcut icon' href='{{site.baseurl}}/favicon.ico' type='image/x-icon'>
    <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.baseurl}}/blog.rss'>
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/60e7aff9-a09c-4c9c-833d-ee099de9f529.css">
    <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/{{JQUERY_VERSION}}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
    <script src='{{site.baseurl}}/site.js'></script>
</head>
<body class="{{page.permalink | remove:'/'}}">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <header class="masthead">
      <nav class="navigation">
        <ul>
          <li><a class='{% if page.permalink == "filmography/" %}active{% endif %}' href='{{site.baseurl}}/filmography'>Filmography</a></li>
          <li><a class='{% if page.permalink == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a></li>
          <li><a class='{% if page.permalink == "news/" %}active{% endif %}' href='{{site.baseurl}}/news'>News</a></li>
          <li><a class='{% if page.permalink == "ethnography/" %}active{% endif %}' href='{{site.baseurl}}/ethnography'>Ethnography</a></li>
        </ul>
      </nav>
      <div class="logo">
        <a class='{% if page.section == "home" %}active{% endif %}' href='{{site.baseurl}}/'>
          <img src="{{site.baseurl}}/assets/img/chloe-frommer.png" width="739" height="82" alt="Chloe Frommer">
        </a>
      </div>
    </header>
    {{content}}
    <footer>
      &copy; {{ site.time | date: '%Y' }}
    </footer>
</body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61978849-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>