---
layout: default
---
{% include filmography-panel.html %}
<section class="page">
  <div class="content">
    {% if page.banner %}
    <div class="img-banner">
        <img src="{{site.baseurl}}/{{page.banner}}">
    </div>
    {% else %}
    {% endif %}
    {% if page.extra %}
    <div class="body">
      {{content}}
    </div>
    <aside class="extra">
      <h4>Background</h4>
        <a href="{{base.url}}/assets/pdfs/CV-Chloe-Frommer.pdf">Curriculum Vitae</a>
        <a href="https://www.linkedin.com/pub/chlo%C3%A9-frommer/42/a87/343">LinkedIn</a>
    </aside>
    {% else %}
    {{content}}
    {% endif %}
  </div>
</section>
{% include ethnography-panel.html %}